<p>
    <strong>First Name:</strong>
    <%= @profile.firstName %>
</p>

<p>
    <strong>Last Name:</strong>
    <%= @profile.lastName %>
</p>

<p>
    <strong>Class Level:</strong>
    <%= @profile.classLevel %>
</p>

<p>
    <strong>Major:</strong>
    <%= @profile.major %>
</p>

<p>
    <strong>Course #1:</strong>
    <%= @profile.course1 %>
</p>

<p>
    <strong>Course #2:</strong>
    <%= @profile.course2 %>
</p>

<p>
    <strong>Course #3:</strong>
    <%= @profile.course3 %>
</p>

<p>
    <strong>Course #4:</strong>
    <%= @profile.course4 %>
</p>

<p>
    <strong>Course #5:</strong>
    <%= @profile.course5 %>
</p>